.main-backgound {
	no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size:cover; 
	height: 100px; 
	min-height: 600px;">
}

.header-image {
	width: 100%;
  height: 155px;
  margin-top: -31px
}

.main-page-div {
  margin: 40px;
}

.call-deposit-div {
  float: left;
  width: 50%;
}

.section-div {
  float: left;
  width: 40%;
  padding: 35px;
  margin-left: 40px;
  -webkit-box-shadow: 1px 1px 10px 1px #4C2F78;
  box-shadow: 1px 1px 10px 1px #4C2F78;
}

.text {
  font-family: Verdana, Geneva, sans-serif;
  color: #6C6C6C;
  padding-left: 65px;
  padding-right: 65px;
}

.image {
  height: 150px;
  width: 150px;
  padding-left: 65px;
  padding-top: 10px;
}

.link {
  color: #3A003A;
  font-size: 22px;
  padding-left: 65px;
}

.form-section {
    width: 400px;
  	float: left;
}

.heading {
	font-size: 35px;
	font-weight: 300;
	color: #4c4c4c;
	text-align: center;
	margin-bottom: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

.section {
  font-size: 12px;
  color: #4c4c4c;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
}

.form {
	margin: 0 30px;
}

.horizontal-rule {
  color: #a9a9a9;
}

.input{
  width: 200px; 
  height: 36px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

#icon {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: #3A003A;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

tr:hover td {
  background:#9D9D9D;
  color:#FFFFFF;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
}

.table-header {
	color: #FFFFFF;
	background: #575757;
	border-bottom: 3px solid #3A003A;
	border-right: 1px solid #343a45;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 100;
	padding: 10px;
	text-align: left;
}

.table-div {
	padding-top: 48px;
	height: 500px;
	overflow-y: auto;
	display: block;
}

.table-body {
	background:#FFFFFF;
	padding:10px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:16px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

.button-div {
	margin: 15px;
}

.submit-button {
	width: 100px;
	height: 30px;
	background-color: white;
	border: solid 2px #3A003A;
	color: gray;
}

.footer {
  /*height: 40px;*/
  font-size: 16px;
  text-align: center;
  position: fixed;
  z-index: 10;
  background-color: #3A003A;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}